<div class="container" *ngIf="album$ | async as album; else loading">
    <mat-card class="album-card">       
        <img matCardImage class="img-center" [src]="album.imageAlbum">
        <mat-card-content>
                <mat-card-title>
                   
                        {{album.artist}}
                
                </mat-card-title>
            <p class="content">{{album.album}}</p>
        </mat-card-content>
    </mat-card>
  </div>


  <ng-template #loading>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
 </ng-template>