<form (ngSubmit) ="onSaveProfile(profileForm.value)" [formGroup]="profileForm">
    <div class="container profile-card">
        <div class="card mt-5">
            <div class="label bottom">
                <p>Cambiar Imagen</p>
                <img class="card-img-top d-flex w-50 mr-auto ml-auto mt-3" [src]="currentImage" (click)="inputImageProfile.click()" alt="Card image cap">
                <p>Cambiar Imagen</p>
                <input hidden type="file"
                #inputImageProfile
                formControName="photoURL"
                (change) ="handleImage( ($event?.target?.files)[0])"
                >
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">Mi Perfil!</h3>
                <div class="form-group mt-2">
                    <label for="">Nombre</label>
                    <input type="text" placelhoder="Ingresa tu nombre" class="form-control" formControlName="displayName">
                </div>
                <div class="form-group mt-2">
                    <label for="">Email</label>
                    <input type="text" placelhoder="Ingresa tu Email" class="form-control" formControlName="email">
                </div>
                <div class="form-group text-center mt-2">
                   <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
      </div>
</form>
