
<div class="container" *ngIf="albums$ | async as albums; else loading">
    <mat-card class="post-card" *ngFor="let album of albums">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/album', album.id]">
                    {{album.artist}}
                </a>
            </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="album.imageAlbum">
        <mat-card-content>
            <p>{{album.album}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <!-- <mat-card-actions>
            <mat-chip-list>
                <mat-chip-list>
                    <mat-chip  *ngFor="let tag of album.tagsPost" [ngClass]="tag">
                       {{tag}} 
                    </mat-chip>                  
                </mat-chip-list>
            </mat-chip-list>
        </mat-card-actions> -->


    </mat-card>
  </div>
  <ng-template #loading>
     <div class="container-spinner">
         <mat-spinner></mat-spinner>
     </div>
  </ng-template>